<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/gh/hiqdev/jquery-resizable-columns/dist/jquery.resizableColumns.min.js"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/store2/2.11.2/store2.min.js"
    integrity="sha512-iorNy5NwRCU2Aw+rgZSZEJJEFpOY9DQkzoI8cLZM5O3tB4XzmS3cBX2599NbIGzFsbb4vzMR0d0b/dBYIkOZJg=="
    crossorigin="anonymous"></script>

<script>
    $(function () {
        $('table').resizableColumns({
            store: window.store
        });
        loadTempSave();
        updateTempSaveCount();


        $('table').on('column:resize:stop', resizeTextareas);
        $(window).on('resize', resizeTextareas);

        //ro = new ResizeObserver(resizeTextareas).observe(document.body);
        resizeTextareas();

        $(window).on("beforeunload", function () {
            if ($('textarea:disabled').length || $('textarea:focus').length && $('textarea:focus').data('edited')) {
                return true;
            }

        });

        $('textarea').each(function() {
            updateCount($(this));
        });
    });

    function moveFocusH(reverse) {
        focused = $(document.activeElement);
        tas = focused.parent().parent().find('textarea');
        for (i = 0; i < tas.length; ++i) {
            if (tas[i] === document.activeElement) {
                index = i + (reverse ? -1 : 1);
                if (index == -1)
                    index = tas.length - 1
                if (index == tas.length)
                    index = 0
                $(tas[index]).focus();
                break;
            }
        }
    }

    function moveFocusV() {
        focused = $(document.activeElement);
        tabIndex = parseInt(focused.attr('tabindex')) + 1;
        next = $('textarea[tabindex="' + tabIndex + '"]')
        next.focus();
    }

    $(document).keydown(function (e) {
        if (e.key == 'Enter' && !e.shiftKey) {
            e.preventDefault();
            moveFocusV();
        } else if (e.ctrlKey || e.metaKey) {
            if (e.key == '[') { // left
                e.preventDefault();
                moveFocusH(true);
            } else if (e.key == ']') { // right
                e.preventDefault();
                moveFocusH(false);
            } else if (e.key == 's') {
                e.preventDefault();
                isCtrlSSave = true;
                // tempSaveCommit();
                if ($(document.activeElement).data('edited')) {
                    $(document.activeElement).blur();
                }
            }
        }
        if (e.key == 'Enter' || e.key == 'Tab') {
            setTimeout(function() {
                document.activeElement.scrollIntoView({block: 'center'});
            }, 0);
        }
    });
</script>

</body>

</html>